<html>
<head>
  <title>FCC URL Shortener</title>
  <script src = 'https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
  <script src = '/server.js' type = 'text/javascript'></script>
  <script src = '/controllers/shortyController.js' type = 'text/javascript'></script>
  <link href = '/public/styles.css' rel = 'stylesheet' type = 'text/css' />
  </head>
<body>
  <h1>Free Code Camp Bonfire</h1>
  <h2>URL Shortener Microservice</h2>
  <h3>User Stories</h3>
  <ul>
    <li>Able to pass a URL as a parameter and receive a shortened URL in JSON format</li>
    <li>If URL passed as parameter is invalid, the JSON response will contain an error instead</li>
    <li>You can visit shortened URL and be redirected to the original URL</li>
  </ul>
  <h3>Location = <%= location %></h3>
</body>
